:root {
  --bg-color: #383838;
  --color: #fff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body, html {
  width: 100%;
  height: 100%;
  background: var(--bg-color);
  color: var(--color);
}
